<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.ShaneMulcahy.OMAC" version="1.0.0">
  <name>Order Of Malta Control - Tracking</name>
  <description>Hello World sample application that responds to the deviceready event.</description>
      <author href="http://www.shanemulcahy.com" email="support@shanemulcahy.com">
        Shane Mulcahy 
    </author>
  <content src="index.html"/>
      <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"        
		id          = "com.ShaneMulcahy.omac"        
		versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->



    <description>
        Testing OMAC Tracker 
    </description>

</widget>